<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<meta charset="utf-8"/>
	<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->
	<link rel="stylesheet" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="/jquery/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link rel="stylesheet" href="/jquery/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.css">
</head>
<script src='/expanding.jquery.js'></script>
<script src='/upload.js'></script>
<script>
    var rowNumItin = <%=form7.itinDate.length%>;;
	var rowNumDec = <%=form7.decName.length%>
	var contactNum = <%=form7.contactPhone.length%>;
	
	$(document).ready(function(){
	
		
	   <%for (var i = 0; i < form7.file.length; i ++) {%>
	       <%var j = i + 1;%>
	           $("<%="#showAttached" + j%>").click(function(){
                    var contentType = 'application/pdf';
                    var b64Data = "<%=form7.file[i].toString('base64')%>";

                    var blob = b64toBlob(b64Data, contentType);

                    var blobUrl = URL.createObjectURL(blob);
                    window.open(blobUrl);
					//window.location = blobUrl;
               });
			   <%}%>

        $(function() {
         $( "#startDate" ).datepicker({
            dateFormat: "dd/mm/yy"
            });
        });
         $(function() {
         $( "#endDate" ).datepicker({
            dateFormat: "dd/mm/yy"
            });
        });
         $(function() {
         $( "#itinDate1" ).datepicker({
             dateFormat: "dd/mm/yy"
            });
        });
        $(function() {
         $( "#leaderDate" ).datepicker({
            dateFormat: "dd/mm/yy"
            });
        });
        $(function() {
         $( "#supervisorDate" ).datepicker({
            dateFormat: "dd/mm/yy"
            });
        });
        $(function() {
         $( "#hosDate" ).datepicker({
            dateFormat: "dd/mm/yy"
            });
        });
    
        $(function() {
         $( "#fcdate" ).datepicker({
            dateFormat: "dd/mm/yy"
            });
        });

		$(".addContact").click(function(){
			contactNum = contactNum + 1;
				var row = "<tr>" +
							"<td>" +
								"<input type = 'text' name = 'contactName'" + "'id = 'contactName'" +  "' required='true'>" +
							"</td>" +
							"<td>" +
								"<input type = 'text' name = 'contactPhone'" + "' id = 'contactPhone'" + "' required='true'>" +
							"</td>" +
						"</tr>";
			$("#UWAContact tbody").append(row);
		});

		$(".delContact").click(function(){
			if (contactNum > 1){
				$('#UWAContact tr:last').remove();
				contactNum = contactNum - 1;
			}
		});

		$(".addRow").click(function(){
		var itin = false;
			if ($(this).prev('table').attr('id') == 'itin'){
				rowNumItin = rowNumItin + 1;
				var row = "<tr>"  +
						"<td> <input type = 'text' name = 'itinDate'" + "' id = 'itinDate" + rowNumItin + "' size='11' required='true'> </td>" +
						"<td> <textarea name = 'itinLocation'" + "' id='itinLocation'" + "' class = 'expand'" +
						"rows = '2' required='true'></textarea> </td>" +
						"<td> <textarea name = 'itinAccomodation'" + "' id='itinAccomodation'" + "' class = 'expand'" +
						"rows = '2' required='true'></textarea> </td>" +
						"<td> <input type = 'text' name = 'itinPhone'" + "' id = 'itinPhone'" + "' size='10' required='true'> </td>" +
					"</tr>";
					itin = true;
                     $(function() {
                        $( "#itinDate" + rowNumItin).datepicker({
            dateFormat: "dd/mm/yy"
            });
                     });
			}
			else if ($(this).prev('table').attr('id') == 'declaration'){
				rowNumDec = rowNumDec + 1;
				var row = "<tr>" +
							"<td> <input type = 'text' name = 'decName'" + "' id = 'decName'" + "' required='true'> </td>" +
							"<td> <input type = 'text' name = 'decPhone'" + "' id = 'decPhone'" + "' required='true' size = '14'> </td>" +
							"<td> <label> " +
								"<input type='checkbox' id='decVolunteer'" + "' name='decVolunteer'" + "' value='decVolunteer'" + "'> V " +
								"</label>" +
								"<label>" +
								"<input type='checkbox' id='decCollaborator'" + "' name='decCollaborator'" + "' value='decCollaborator'" + "'> C" +
								"</label>" +
							"</td>" +
							"<td> <label>" +
								"AP <input type='checkbox' id='decApproved'" + "' name='decApproved'" + "' value='decApproved'" + "'> " +
								"</label>" +
								"<label> " +
								"4WD <input type='checkbox' id='dec4WD'" + "' name='dec4WD'" + "' value='dec4WD'" + "'>  " +
								"</label>"	+
								"<label>" +
								"OR <input type='checkbox' id='decOffRoad'" + "' name='decOffRoad'" + "' value='decOffRoad'" + "'>  " +
								"</label>" +
							"</td>" +
							"<td> <label>" +
								"<input type='checkbox' id='decAid'" + "' name='decAid'" + "' value='decAid'" + "'> " +
								"</label>" +
							"</td>" +
						"</tr>";
			}

			else if ($(this).prev('table').attr('id') == 'UWAContact'){
				contactNum = contactNum + 1;
				var row = "<tr>" +
							"<td>" +
								"<input type = 'text' name = 'contactName'" + "'id = 'contactName'" + "' required='true'>" +
							"</td>" +
							"<td>" +
								"<input type = 'text' name = 'contactPhone'" + "' id = 'contactPhone'" + "' required='true'>" +
							"</td>" +
						"</tr>";
			}

			$(this).prev("table").children('tbody').append(row);

			if (itin){
				setMinDate("#itinDate" + rowNumItin);
			}

		});

		$(".delRow").click(function(){
			if ($(this).prev().prev().attr('id') == 'itin'){
				if (rowNumItin >1){
					$('#itin tr:last').remove();
					rowNumItin = rowNumItin - 1;
				}
			}

			else if ($(this).prev().prev().attr('id') == 'declaration'){
				if (rowNumDec >1){
					$('#declaration tr:last').remove();
					rowNumDec = rowNumDec - 1;
				}
			}
		});

		$(".togglable").click(function(){
			$(this).next(".info").toggle("fast");
		});

		function checkDate(){
			var now = new Date(),
			minDate = now.toISOString().substring(0,10);
			return minDate;
		}

		function setMinDate(id){
			$(id).prop('min', checkDate());
		}

		setMinDate("#startDate");
		setMinDate("#itinDate1");

		$("#startDate").change(function(){
			var date = new Date($('#startDate').val());
			yr = date.getFullYear();
			month = date.getMonth() < 10 ? '0' + (date.getMonth() +1) : (date.getMonth() + 1);
			day = date.getDate()  < 10 ? '0' + date.getDate()  : date.getDate();
			newDate = yr + '-' + month + '-' + day;
			$("#endDate").prop('min', newDate);
		});
       });

	function checkboxes(){
		var names = ['agreement','permission'];
		for (var i = 0; i < names.length;i++) {
        var x = document.forms.form7[names[i]].checked;
        if (x == false) {
            alert("You must check all boxes in the policies section");
            return false;
        }
    }
    return true;
	}

	function checkStartDate(){
    	var today = new Date();
    	var starterDate = $( "#startDate" ).datepicker( "getDate" );
    	if (today > starterDate){
    		alert ("Fieldwork start date can't be before today ");
    		return false;
    	}
    	return true;
    }

	function checkEndDate(){
    	var starterDate = $( "#startDate" ).datepicker( "getDate" );
    	var enderDate = $( "#endDate" ).datepicker( "getDate" );
    	if (starterDate >= enderDate){
    		alert("End date is before start date");
    		return false;
    	}
    	return true;
    }

    function checkItinDate(){
    	var starterDate = $( "#startDate" ).datepicker( "getDate" );
    	var enderDate = $( "#itinDate1" ).datepicker( "getDate" );
    	if (starterDate >= enderDate){
    		alert("Itinerary date is before start date");
    		return false;
    	}
    	return true;
    }
    
    function tickboxes() {
            var this_master = $(document.getElementById("Form"));

            this_master.find('input[type="checkbox"]').each( function () {
                var checkbox_this = $(this);
                if (checkbox_this.parent().parent().parent().parent().parent().attr("id") == 'declaration') {
                    if( checkbox_this.is(":checked") == true ) {
                    }
                    else {
                        checkbox_this.prop('checked',true);
                        //DONT' ITS JUST CHECK THE CHECKBOX TO SUBMIT FORM DATA
                        checkbox_this.attr('value','false');    
                    }
                }
        })
    }
	
	var admins = [];
	<% for (var i = 0; i < admins.length; i ++){ %>
		admins.push(<%- JSON.stringify(admins[i].username) %>);
	<% } %>
	
	function checkAdmin(id){
		var em = $(id).val();
		for (var k = 0; k < admins.length; k++){
			if (admins[k] == em){
				return true;
			}
		}
		alert(em + " does not match any emails");
		return false;
	}
	

	function validateForm() {
		if(!checkStartDate())return false;
		if (!checkEndDate())return false;
		if(!checkItinDate())return false;
		if (!checkboxes()) return false;
		if (!checkAdmin("#supemail")) return false;
		if (!checkAdmin("#hosemail")) return false;
        tickboxes();
        return true;
	}

    function submitForm(action)
    {
        if (validateForm()) {
            action.setAttribute("action","/form7Forward" + "/<%=form7._id%>");
            document.getElementById('Form').submit();
        }
    }
</script>

<body>
	<section>
		<div class="pure-g">
			<div class="pure-u-1" id="header">
				<img src="/images/backgroundDefault.jpg" style="top: -80px; position:relative;  z-index: -1;">

			</div>
		</div>
		<div id="excludingHeader">
			<div class="pure-g">
				<div class="pure-u-lg-1-5" id="sidebar"> </div>
					<div class="pure-u-1 pure-u-lg-3-5">
						<div id="formArea">
						<div id="formTitle"> Form 7 - Planning </div>
						<br><br>
                        <form name="form7" id="Form" class="pure-form" action="/form7Review/<%=form7._id%>" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
						<!--<form class="pure-form">
-->						<div class="sectionContainer">
								<div class="sectionTitle"> Fieldwork Description </div>
								<div class="input">
								<fieldset>
									Unit of study / Research project / Other title: <br>
									<input type = "text" name = "projectTitle" id = "projectTitle" required="true" value="<%=form7.projectTitle%>">
									<br> <br>
									Date of Fieldwork:
									<br>
									<table style="width:100%">
										<tr>
											<td>
											Start Date:
											<input type = "text" name = "startDate" id = "startDate" required="true" value = "<%=form7.startDate%>">
											</td>
											<td>
											End Date:
											<input type = "text" name = "endDate" id = "endDate" required="true" value = "<%=form7.endDate%>">
											</td>
										</tr>
									</table>
									<br><br>

									Fieldwork Description (this can be a brief outline if a comprehensive description
									of the proposed fieldwork has been attached): <br>
									<textarea name = "fieldDescription" id = "fieldDescription" class = "expanding"
									cols = "80" rows = "6" placeholder = "Enter Fieldwork description here..."><%=form7.fieldDescription%></textarea>
									<br><br>

									<button type="button" class="togglable">Toggle info</button>

									<div class = "info">
										<p>
											This section should include where you will be at any point in time as well as relevant
											information on the area (for example weather conditions). Additionally specific work being
											done should be included for each location (writing "going to a farm to sample rocks" is not sufficient detail).
										</p>
									</div>
									<br><br>

									Comments:
									<textarea name = "form7comm1" id = "form7comm1" class = "expanding"
									cols = "80" rows = "3" placeholder = "Comment here..."><%=form7.comm1%></textarea>
									<br>

								</fieldset>
								</div>
							</div>
						<!--</form>
-->
						<br><br>


						<!--<form class="pure-form">
-->							<div class="sectionContainer">
								<div class="sectionTitle"> Emergency UWA Contact and Call- Home Arrangements </div>
								<div class="input">
								<fieldset>

									<table id = "UWAContact" style = "width:100%">
										<thead>
										<tr>
											<td>
												UWA Contact Name(s)
											</td>
											<td>
												Phone Number(s)
											</td>
										</tr>
										</thead>

										<tbody>
                                        <%for (var i = 0; i < form7.contactName.length;i++) {%>
										<tr>
											<td>
												<input type = "text" name = "contactName" id = "contactName<%=i+1%>" required="true" value="<%=form7.contactName[i]%>">
											</td>
											<td>
												<input type = "text" name = "contactPhone" id = "contactPhone<%=i+1%>" required="true" value="<%=form7.contactPhone[i]%>">
											</td>
										</tr>
                                        <% } %>
										</tbody>
									</table>
									<br>

									<button type="button" class="addContact">Add Contact</button>
									<button type="button" class="delContact">Delete Contact</button>
									<br><br>

									Call-Home Arrangement : <br>
									<textarea name = "callHome" id="callHome" class = "expanding"
									cols = "80" rows = "4" placeholder = "Enter Call-Home Arrangement Here..." required="true"><%=form7.callHome%></textarea>
									<br>

									Emergency response plan if call-home arrangements fail : <br>
									<textarea name = "emergency" id="emergency" class = "expanding"
									cols = "80" rows = "4" placeholder = "Enter Emergency Response Plan Here..." required="true"><%=form7.emergency%></textarea>
									<br>

										

									<button type="button" class="togglable">Toggle info</button>

									<div class = "info">
										<p>
											In the event of an incident on the fieldtrip a member of the collaborating field team agrees to contact the nominated UWA contact as soon as practicable in the event of an incident, injury or near miss. If they cannot be contacted, Warren Starr (UWA DBSO) should be contacted on 0457 835 527. UWA must be involved in the incident investigations and outcomes. <br><br>Provide evidence in the form of an email or written statement from the collaborator in the upload section below that includes, name, organisation, position, contact information with explicit instructions as per the previous statement.

											UWA Contact: The name of the person at UWA who you will be in regular contact with.<br><br>
											Phone Number: The number of the contact persons. <br><br>
											Call-Home Arrangement: Details how someone at UWA will be in contact you at regular,
											predetermined intervals. <br><br>
											Emergency Response Plan: The plan which details the actions to be taken if you cannot be contacted. <br>
										</p>
									</div>
									<br><br>

									Comments:
									<textarea name = "form7comm2" id = "form7comm2" class = "expanding"
									cols = "80" rows = "3" placeholder = "Comment here..."><%=form7.comm2%></textarea>
									<br>
								</fieldset>
								</div>
							</div>
							<!--</form>
-->
							<br><br>

							<!--<form class="pure-form">
-->							<div class="sectionContainer">
								<div class="sectionTitle"> Transport Arrangements To Fieldwork Site(s) </div>
								<div class="input">
								<fieldset>
									(Details of any off-road driving must be included) <br>
									<textarea name = "transport" id="transport" class = "expanding"
									cols = "80" rows = "4" placeholder = "Enter Transport Details Here..." required="true"><%=form7.transport%></textarea>
									<br>

									<button type="button" class="togglable">Toggle info</button>

									<div class = "info">
										<p>
											This section should include any details on every transport leg of the trip to and from UWA.
											Includes flights, taxis, 4WD, car etc.
										</p>
									</div>
									<br><br>

									Comments:
									<textarea name = "form7comm3" id = "form7comm3" class = "expanding"
									cols = "80" rows = "3" placeholder = "Comment here..."><%=form7.comm3%></textarea>
									<br>
								</fieldset>
								</div>
							</div>
							<!--</form>
-->
							<br><br>


							<!--<form class="pure-form">
-->							<div class="sectionContainer">
								<div class="sectionTitle"> Itinerary Details </div>
								<div class="input">
								<fieldset>
									<table id = "itin" style = "width:100%">
										<thead>
										<tr>
											<td> Date </td>
											<td> Location </td>
											<td> Accommodation </td>
											<td> Contact Information </td>
										</tr>
										</thead>
										<tbody>
										<%for(var i = 0;i < form7.itinDate.length;i++) {%>
										  <tr>
											<td> <input type = "text" name = "itinDate" id = "itinDate" size="11" required="true" value = "<%=form7.itinDate[i]%>"> </td>
											<td> <textarea name = "itinLocation" id="itinLocation<%=i+1%>" class = "expand"
											 rows = "2" required="true"><%=form7.itinLocation[i]%></textarea> </td>
											<td> <textarea name = "itinAccomodation" id="itinAccomodation<%=i+1%>" class = "expand"
											 rows = "2" required="true"><%=form7.itinAccomodation[i]%></textarea> </td>
											<td> <input type = "text" name = "itinPhone" id = "itinPhone<%=i+1%>" size="10" required="true" value = "<%=form7.itinPhone[i]%>"> </td>
										</tr>
										<% } %>
										</tbody>
									</table>
									<button type="button" class="addRow">Add Row</button>
									<button type="button" class="delRow">Delete Row</button>
									<br><br>

									<button type="button" class="togglable">Toggle info</button>

									<div class = "info">
										<p>
											This section should include your itinerary. Each row should represent one place
											which you stay at. <br>
											Also required is the date you begin to stay there, the location,
											the type or name of accomodation, the location and the contact details of this place.
										</p>
									</div>
									<br><br>

									Comments:
									<textarea name = "form7comm4" id = "form7comm4" class = "expanding"
									cols = "80" rows = "3" placeholder = "Comment here..."><%=form7.comm4%></textarea>
									<br>
								</fieldset>
								</div>
							</div>
							<!--</form>
-->
							<br><br>

							<!--<form class="pure-form">
-->							<div class="sectionContainer">
								<div class="sectionTitle"> Participants Declaration </div>
								<div class="input">
								<fieldset>
									<table id = "declaration">
										<thead>
										<tr>
											<td> Name </td>
											<td> Phone Number (during field trip) </td>
											<td> Volunteer / Collaborator </td>
											<td> Driver Competence: <br>
											Approved Driver / 4WD Trained? / Off-Road Trained? </td>
											<td> First Aid Certified </td>
										</tr>
										</thead>
										<tbody>
										<%for(var i = 0;i < form7.decName.length;i++) {%>
										<tr>
											<td> <input type = "text" name = "decName" id = "decName1" required="true" value = "<%=form7.decName[i]%>"> </td>
											<td> <input type = "text" name = "decPhone" id = "decPhone1" required="true" size = "14" value = "<%=form7.decPhone[i]%>"> </td>
											<td> <label for="decVolunteer1">
													<%if (form7.decVolunteer[i] == "decVolunteer") {%>
													<input type="checkbox" id="decVolunteer<%=i%>" name="decVolunteer" value="decVolunteer" checked> V
													<% }else  {%>
													<input type="checkbox" id="decVolunteer<%=i%>" name="decVolunteer" value="decVolunteer" > V
													<% } %>
                                                </label>
												<label for="decCollaborator1">
													<%if (form7.decCollaborator[i] == "decCollaborator") {%>
													<input type="checkbox" id="decCollaborator<%=i%>" name="decCollaborator" value="decCollaborator" checked> C
													<%} else  {%>
													<input type="checkbox" id="decCollaborator<%=i%>" name="decCollaborator" value="decCollaborator"> C
													<% } %>
                                                </label>
											</td>
											<td> <label for="decApproved1">
													<%if (form7.decApproved[i] == "decApproved") {%>
													AP <input type="checkbox" id="decApproved<%=i%>" name="decApproved" value="decApproved" checked>
													<%} else  {%>
													AP <input type="checkbox" id="decApproved<%=i%>" name="decApproved" value="decApproved">
													<% } %>
												</label>

												<label for="dec4WD1">
													<%if (form7.dec4WD[i] == "dec4WD") {%>
													4WD <input type="checkbox" id="dec4WD<%=i%>" name="dec4WD" value="dec4WD" checked>
													<%} else  {%>
													4WD <input type="checkbox" id="dec4WD<%=i%>" name="dec4WD" value="dec4WD">
													<% } %>
												</label>

												<label for="decOffRoad1">
													<%if (form7.decOffRoad[i] == "decOffRoad") {%>
													OR <input type="checkbox" id="decOffRoad<%=i%>" name="decOffRoad" value="decOffRoad" checked>
													<%} else  {%>
													OR <input type="checkbox" id="decOffRoad<%=i%>" name="decOffRoad" value="decOffRoad">
													<% } %>
												</label>
											</td>
											<td> <label for="decAid1">
												<%if (form7.decAid[i] == "decAid") {%>
													<input type="checkbox" id="decAid<%=i%>" name="decAid" value="decAid" checked>
													<%} else  {%>
													<input type="checkbox" id="decAid<%=i%>" name="decAid" value="decAid">
													<% } %>
												</label>
											</td>
										</tr>
										<% } %>
										</tbody>
									</table>
									<button type="button" class="addRow">Add Row</button>
									<button type="button" class="delRow">Delete Row</button>
									<br><br>

									<label for="agreement">
										<input type="checkbox" id="agreement" name="agreement" value="agreement" checked onclick="return false;"> I have read
										and fully understand the requirements of this Fieldwork Safety Plan and associated documents.
										I have informed all participants on this fieldwork trip of the information on this form. All necessary forms (excluding this one)
										have been completed and submitted. Field plans have been distributed to each member of this fieldwork
										trip for record keeping.<br>
									</label><br>

									<button type="button" class="togglable">Toggle info</button>

									<div class = "info">
										<p>
											This section should contain details on each participant in your trip <br>
											The volunteer or collaborator checkbox should only be ticked if that participant is someone from outside
											UWA partaking in the field trip or they are from an exterior organisation (though not a volunteer) and are
											leading the trip. Otherwise these boxes can be left empty. <br>
											To be first aid certified the particpant should have completed a HLTAID003 course,
											or had their certificate renewed, within the last 3 years.
										</p>
									</div>
									<br><br>

									Comments:
									<textarea name = "form7comm5" id = "form7comm5" class = "expanding"
									cols = "80" rows = "3" placeholder = "Comment here..."><%=form7.comm5%></textarea>
									<br>
								</fieldset>
								</div>
							</div>
							<!--</form>-->
							<br><br>

							<div class="sectionContainer">
								<div class="sectionTitle"> PDF Upload </div>
								<div class="input">
								<fieldset>
									Reset File Uploads (leave blank to keep same files, to view files turn off addblockers to allow a new tab, and keep this page open):<input type="file" name="filetoupload" multiple disabled = true><br><br>

									<% for (var i = 0; i < form7.file.length; i ++) {%>
									<% var j = i + 1; %>
									<input type="button" value="<%= "Show attached File " + j%>" id="<%= "showAttached" + j%>"> <br>
									<% } %>
									<br>
                                    <label>
                                    <%if (form7.riskformcheck != null) {%>
													<input type="checkbox" id="riskform" name="riskform" value="riskform" checked onclick="return false;"> If you have already completed a risk assessment form that is valid for this fieldtrip please check the box. <br>
													<% } else  {%>
													<input type="checkbox" id="riskform" name="riskform" value="riskform" onclick="return false;"> If you have already completed a risk assessment form that is valid for this fieldtrip please check the box.<br>
				                    <% } %>
                                    </label>
									<button type="button" class="togglable">Toggle info</button>

									<div class = "info">
										<p>
											Attach all extra documents here (PDF only).<br>
                                            If there are collaborators on this fieldtrip please attach an email with there name, position, orginization and phone number in the email.<br>
										</p>
									</div>
								</fieldset>
								</div>
							</div>
							<!--</form>
-->
							<br><br>

							<div class="sectionContainer">
								<div class="sectionTitle"> Permission to Proceed</div>
								<div class="input">
								<fieldset>
									<br>
                                    <i>Please ensure that the fieldwork supervisor email and head of school email are filled out.</i>
									<table style="width:100%">
										<thead>
										<tr>
											<td>

											</td>
											<td>
												Name
											</td>
                                            <td>
                                                Email
                                            </td>
											<td>
												Date
											</td>
										</tr>
										</thead>

										<tbody>
                                        <tr>
											<td>
												Fieldwork Leader:
											</td>
											<td>
											<input type = "text" name = "leaderName" id = "leaderName" value = "<%=form7.leaderName%>">
											</td>
                                            <td>
                                                <input type="text" name="leaderemail" id="leaderemail" value="<%=form7.leaderemail%>">
                                            </td>
											<td>
											<input type = "text" name = "leaderDate" id = "leaderDate" value = "<%=form7.leaderDate%>" size='12'>
											</td>
										</tr>
										<tr>
											<td>
												Fieldwork Supervisor:
											</td>
											<td>
											<input type = "text" name = "supervisorName" id = "supervisorName" value = "<%=form7.supervisorName%>">
											</td>
                                            <td>
                                                <input type="text" name="supemail" id="supemail" value="<%=form7.supemail%>" required>
                                            </td>
											<td>
											<input type = "text" name = "supervisorDate" id = "supervisorDate" value = "<%=form7.supervisorDate%>" size="12">
											</td>
										</tr>
                                        <tr>
                                                <td>Fieldwork Coordinator:</td>
												<td><input type="text" name="fcname" value="<%=form7.fcname%>"></td>
                                                <td><input type="text" name="fcemail" id="fcemail" value="<%=form7.fcemail%>"></td>
												<td><input type="text" name="fcdate" id="fcdate" size= "12" value="<%=form7.fcdate%>"></td>
                                        </tr>
										<tr>
											<td>
												Head of School:
											</td>
											<td>
											<input type = "text" name = "hosName" id = "hosName" value = "<%=form7.hosName%>">
											</td>
                                            <td>
                                                <input type="text" name="hosemail" id="hosemail" value="<%=form7.hosemail%>" required>
                                            </td>
											<td>
											<input type = "text" name = "hosDate" id = "hosDate" value = "<%=form7.hosDate%>" size="12">
											</td>
										</tr>
										</tbody>
									</table>
									<br>
                                    <label>
                                        <%if (form7.DBSOcheck != null) {%>
													<input type="checkbox" id="DBSO" name="DBSO" value="DBSO" checked onclick="return false;"> If any snorkelling, diving or boat is involved on this trip, approval from DSBO is required. I have attached approval from the DBSO. <br>
													<% }else  {%>
													<input type="checkbox" id="DBSO" name="DBSO" value="DBSO" onclick="return false;"> If any snorkelling, diving or boat is involved on this trip, approval from DSBO is required. I have attached approval from the DBSO. <br>
				                    <% } %>
                                    </label>
									<label for="permission">
										<input type="checkbox" id="permission" name="permission" value="permission" checked onclick="return false;"> I have read
										this form and give my permission to proceed with fieldwork<br>
									</label><br>
                                    
                                    
								</fieldset>
								</div>
							</div>

							<br>
							<!--<input type="button" name ="Submit" value="Submit Form 7" onclick="return validateForm()">-->
							<input type="submit" name ="Submit" value="Send back to user">                               <input type="button" class="submit" onclick="submitForm(form7)" value="Sign off on form">
						</form>

						</div>
						</div>
				<div class="pure-u-lg-1-5" id="sidebar"> </div>
			</div>
		</div>
		<br>
	</section>
</body>
